<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>controller.login</servlet-class>
    </servlet>   
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/controller/login</url-pattern>
    </servlet-mapping>
        <servlet>
                <servlet-name>deconnexion</servlet-name>
                <servlet-class>controller.deconnexion</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>deconnexion</servlet-name>
                <url-pattern>/controller/deconnexion</url-pattern>
        </servlet-mapping>

    <servlet>
        <servlet-name>addauteur</servlet-name>
        <servlet-class>controller.addauteur</servlet-class>
    </servlet>   
    <servlet-mapping>
        <servlet-name>addauteur</servlet-name>
        <url-pattern>/controller/addauteur</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>addlivre</servlet-name>
        <servlet-class>controller.addlivre</servlet-class>
    </servlet>   
    <servlet-mapping>
        <servlet-name>addlivre</servlet-name>
        <url-pattern>/controller/addlivre</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>searchlivre</servlet-name>
        <servlet-class>controller.searchlivre</servlet-class>
    </servlet>   
    <servlet-mapping>
        <servlet-name>searchlivre</servlet-name>
        <url-pattern>/controller/searchlivre</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>searchauteur</servlet-name>
        <servlet-class>controller.searchauteur</servlet-class>
    </servlet>   
    <servlet-mapping>
        <servlet-name>searchauteur</servlet-name>
        <url-pattern>/controller/searchauteur</url-pattern>
    </servlet-mapping>
      <servlet>
        <servlet-name>searchaut1</servlet-name>
        <servlet-class>controller.searchaut1</servlet-class>
    </servlet>   
    <servlet-mapping>
        <servlet-name>searchaut1</servlet-name>
        <url-pattern>/controller/searchaut1</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>searchlivre1</servlet-name>
        <servlet-class>controller.searchlivre1</servlet-class>
    </servlet>   
    <servlet-mapping>
        <servlet-name>searchlivre1</servlet-name>
        <url-pattern>/controller/searchlivre1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteauteur</servlet-name>
        <servlet-class>controller.deleteauteur</servlet-class>
    </servlet>   
    <servlet-mapping>
        <servlet-name>deleteauteur</servlet-name>
        <url-pattern>/controller/deleteauteur</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateauteur</servlet-name>
        <servlet-class>controller.updateauteur</servlet-class>
    </servlet>   
    <servlet-mapping>
        <servlet-name>updateauteur</servlet-name>
        <url-pattern>/controller/updateauteur</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
